.rounded {
    border-radius: 10px;
}

.input {
    padding: 8px 32px 8px 8px;
    border: none;
    width: 100%;
    border: 1px solid var(--neutral-700);
}

.input:focus {
    outline: none;
    background: var(--primary-100);
}

.label {
    font-weight: 200;
    color: var(--neutral-500);
    font-size: var(--x-small);
}