.productContainer {
    padding: var(--x-small);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.showMore {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: var(--small);
}

.showMore button {
    width: 0 auto;
    border: none;
    padding: var(--small) var(--x-large);
    text-decoration: underline;
    color: var(--secondary-400);
    background: none;
    font-weight: 300;
    font-size: var(--medium);
}

.showMore button:hover {
    color: var(--secondary-700);
}

@media only screen and (max-width: 525px) {
    .productContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1800px) {
    .productContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}