.squiggleHolder {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 33px;
}

.ellipse {
    position: absolute;
    background: radial-gradient(
        ellipse,
        transparent,
        transparent 7px,
        var(--secondary-200) 7px,
        var(--secondary-200) 10px,
        transparent 11px
    );
    background-size: 36px 40px;
    width: 100%;
    height: 20px;
}

.ellipse2 {
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
}

.header {
    padding: 12px;
}

.header h2 {
    text-transform: uppercase;
    font-weight: 200;
    color: var(--neutral-500);
    margin-bottom: 0;
    padding-bottom: var(--small);
}

.header h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--primary-800);
    letter-spacing: -2px;
    margin-bottom: 0;
    /* padding-bottom: var(--small); */
    font-size: var(--x-large);
    text-align: center;
}

.quantityBox {
    display: flex;
    max-width: 100%;
    border-radius: 15px;
    justify-content: center;
    border: var(--neutral-800) 1px solid;
    margin-bottom: 10px;
    padding: 0 !important;
}

.quantityBox input {
    outline: none;
    border: none;
    text-align: center;
    width: 40%;
    font-weight: 200;
}

.quantityBox input::-webkit-outer-spin-button,
.quantityBox input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.quantityBox button {
    font-weight: 600;
    font-size: var(--small);
    background: var(--primary-500);
    cursor: pointer;
    border: 0;
    padding: var(--x-small) var(--small);
    transition: all 50ms;
    width: 30%;
}

.increase {
    border-radius: 0 15px 15px 0;
}

.decrease {
    border-radius: 15px 0 0 15px;
}

.increase:disabled, .decrease:disabled {
    background-color: var(--neutral-300);
    cursor: not-allowed;
}

.increase:disabled:hover, .decrease:disabled:hover {
    background-color: var(--neutral-300);
}

.increase:disabled:active, .decrease:disabled:active {
    transform: scale(1);
}

.quantityBox button:hover {
    background: var(--primary-400);
}

.quantityBox button:active {
    transform: scale(0.8);
}

.icon {
    color: var(--neutral-800);
}

@media only screen and (min-width: 1100px) {
    .header h1 {
        font-size: var(--x-large);
        text-align: left;
    } 
}