.row {
    width: 75%;
    margin: 0 auto;
}

.row > div {
    display: flex;
    padding: var(--small) 0;
    flex-direction: column;
}

.row div img {
    max-width: 200px;
    border-radius: 10px;
}

.container {
    background: var(--primary-100);
    padding: 48px 0;
    box-shadow: 0 10px 20px hsl(0 0% 0% / 20%);
}

.content h2 {
    color: var(--primary-500);
    padding: var(--x-small);
    font-weight: 300;
}

.content p {
    font-weight: 600;
    color: var(--neutral-500);
    padding-bottom: 24px;
}

.link {
    color: var(--secondary-400);
    padding: 4px;
    margin-top: 24px;
    position: relative;
    text-transform: uppercase;
}

.link::before {
    background-color: var(--secondary-300);
    bottom: 0;
    content: "";
    height: 2px;
    left: 20%;
    opacity: 0.3;
    position: absolute;
    transition: all 0.3s;
    width: 60%;
}

.row {
    padding-bottom: 32px;
    text-align: center;
}


@media only screen and (min-width: 1100px) {
    .row {
        padding-bottom: 0; 
    }
    
}
