.btnBasket {
    border-radius: 0 0 10px 10px;
    width: 100%;
    background: var(--secondary-800);
    color: var(--neutral-900);
    transition: 200ms ease-in-out;
    text-transform: uppercase;
    box-shadow: 0 10px 20px hsl(0 0% 0% / 20%);
    border: none;
    font-size: var(--x-small);
    font-weight: 900;
    letter-spacing: 1px;
    padding: 8px 8px;
}

.btnBasket:hover {
    background: var(--secondary-500);
    transition: all 50ms ease-in-out;
}

@media only screen and (min-width: 1100px) {
    .btnBasket {
        padding: var(--x-small) 8px;
        font-size: var(--small);
    }
    .btnBasket:active {
        background: var(--secondary-300);
        transform: scale(0.9);
    }

    .btnBasket:disabled {
        background: var(--neutral-700);
        color: var(--neutral-500);
        cursor: not-allowed;
    }

    .btnBasket:disabled:active {
        transform: scale(1);
        transform: translateX(-20px);
        transition: shake 10ms ease-in;
    }

    .btnBasket:disabled:hover {
        background: var(--neutral-600);
    }
}
