:root {
  --purple: #cbbaed;
  --purple-dark: #978ab3;
  --pink: rgb(250, 238, 251);
  --pink-hot: #ffa3e3;
  --white: rgb(243, 243, 243);
  --black: rgb(44, 44, 44);
}

nav {
  &.primary-navigation {
    ul li {
      list-style: none;
      border-bottom: 2px solid var(--purple-dark);
      padding: 0 20px;
      position: relative;
    }

    li a {
      color: var(--black);
      opacity: 0.7;
    }

    li a:focus {
      color: plum;
      opacity: 0.7;
    }

    li a:hover {
      color: white;
    }

    li:hover {
      cursor: pointer;
    }

    // ul li:hover > ul,
    // ul li ul:hover {
    //   visibility: visible;
    //   opacity: 1;
    //   display: block;
    //   min-width: 250px;
    //   text-align: left;
    //   padding-top: 20px;
    //   box-shadow: 0px 3px 5px -1px #ccc;
    // }

    ul li ul li a {
      // border-bottom: 2px solid var(--black);
      color: var(--pink);
      height: 100%;
      width: 100%;
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
      height: 100%;
      width: 100%;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #e565f6;
      transition: all 0.3s ease;
    }

    ul li ul li a:hover ul li ul li{
      background-color: white;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    color: #3ca0e7;
  }
}

ul li ul li a {
  transition: all 0.5s ease;
}

.dropdown-parent {
  position: relative;
}

.dropdown-parent:hover .dropdown {
  max-height: 450px;
}

.dropdown {
  width: 100vw;
  margin-left: -20px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 250ms ease-out;
}

.dropdown li:nth-child(1) {
  margin-top: 10px;
}

@media only screen and (min-width: 990px) {
  nav {
    &.primary-navigation {
      ul li {
        border-left: 2px solid lightpink;
        border-bottom: none;
      } 
    }
  }
}