:root {
  --purple: #cbbaed;
  --purple-dark: #978ab3;
  --pink: rgb(250, 238, 251);
  --pink-hot: #ffa3e3;
  --white: rgb(243, 243, 243);
  --black: rgb(44, 44, 44);
}

nav {
  &.primary-navigation {
    ul li {
      list-style: none;
      border-bottom: 2px solid var(--purple-dark);
      padding: 0 20px;
      position: relative;
    }

    li a {
      color: var(--black);
      opacity: 0.7;
    }

    li a:focus {
      color: var(--pink-hot);
      opacity: 0.7;
    }

    li a:hover {
      color: var(white);
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul li a {
      color: var(--pink);
      height: 100%;
      width: 100%;
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
      height: 100%;
      width: 100%;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid var(--pink-hot);
      transition: all 0.3s ease;
    }

    ul li ul li a:hover ul li ul li{
      background-color: var(--white);
    }
  }
}

a {
  text-decoration: none;
}

ul li ul li a {
  transition: all 0.5s ease;
}

.dropdown-parent {
  position: relative;
}

.dropdown-parent:hover .dropdown {
  max-height: 450px;
}

.dropdown {
  width: 100vw;
  margin-left: -20px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 250ms ease-out;
}

.dropdown li:nth-child(1) {
  margin-top: 10px;
}

@media only screen and (min-width: 990px) {
  nav {
    &.primary-navigation {
      ul li {
        border-left: 2px solid var(--pink-hot);
        border-bottom: none;
      } 
    }
  }
}