$purple: #cbbaed;
$purple-dark: #978ab3;
$pink: rgb(250, 238, 251);
$pink-hot: #ffa3e3;
$white: rgb(243, 243, 243);
$black: rgb(44, 44, 44);

.input-container {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 50%;
}

.input-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $pink;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 12px 0px;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .input-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $purple-dark;
}

.input-field:focus {
  ~ .input-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $black;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $pink-hot,$pink);
  border-image-slice: 1;
}
/* reset input */
.input-field{
  &:required,&:invalid { box-shadow:none; }
}
