* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

:root {
    --x-small: 12px;
    --small: 16px;
    --medium: 24px;
    --large: 36px;
    --x-large: 52px;

    --neutral-100: rgb(44, 44, 44);
    --neutral-200: rgb(68, 68, 68);
    --neutral-300: rgb(90, 90, 90);
    --neutral-500: rgb(128, 128, 128);
    --neutral-700: rgb(185, 185, 185);
    --neutral-800: rgb(210, 210, 210);
    --neutral-900: rgb(243, 243, 243);

    --primary-100: hsla(268, 26%, 85%, 1);
    --primary-200: hsla(259, 41%, 77%, 1);
    --primary-300: hsla(259, 41%, 70%, 1);
    --primary-400: hsla(259, 41%, 63%, 1);
    --primary-500: hsla(259, 41%, 50%, 1);
    --primary-600: hsla(259, 41%, 40%, 1);
    --primary-700: hsla(259, 41%, 31%, 1);
    --primary-800: hsla(259, 41%, 20%, 1);
    --primary-900: hsla(259, 41%, 10%, 1);

    --secondary-100: hsla(318, 55%, 95%, 1);
    --secondary-200: hsla(318, 55%, 80%, 1);
    --secondary-300: hsla(318, 55%, 68%, 1);
    --secondary-400: hsla(318, 55%, 57%, 1);
    --secondary-500: hsla(318, 55%, 50%, 1);
    --secondary-600: hsla(318, 55%, 42%, 1);
    --secondary-700: hsla(318, 55%, 35%, 1);
    --secondary-800: hsla(318, 55%, 27%, 1);
    --secondary-900: hsla(318, 55%, 20%, 1);

    --primary-positive-100: hsla(130, 54%, 80%, 1);
    --primary-positive-300: hsla(130, 54%, 65%, 1);
    --primary-positive-500: hsla(130, 54%, 50%, 1);
    --primary-positive-700: hsla(130, 54%, 35%, 1);
    --primary-positive-900: hsla(130, 54%, 20%, 1);

    --primary-negative-100: hsla(0, 53%, 80%, 1);
    --primary-negative-300: hsla(0, 53%, 65%, 1);
    --primary-negative-500: hsla(0, 53%, 50%, 1);
    --primary-negative-700: hsla(0, 53%, 35%, 1);
    --primary-negative-900: hsla(0, 53%, 15%, 1);
    
    --primary-warning-100: hsla(19, 57%, 70%, 1);
    --primary-warning-300: hsla(19, 57%, 60%, 1);
    --primary-warning-500: hsla(19, 57%, 50%, 1);
    --primary-warning-700: hsla(19, 57%, 40%, 1);
    --primary-warning-900: hsla(19, 57%, 30%, 1);
}

/* Carousel */
.carousel {
    cursor: grab;
    display: none;
}

.carousel-item {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.carousel-item-small {
    max-height: 400px;
    border: none;
    width: 150px;
    object-fit: cover;
}

/* Category display */
.category-wrapper {
    background: var(--secondary-100);
    padding-top: 64px;
}

.category-wrapper a {
    color: var(--neutral-100);
}

.category-wrapper a:hover {
    color: var(--primary-700);
}

.category-page-wrapper {
    height: 100vh;
    background: var(--primary-100);
    padding-top: 100px;
}

.category-header {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.category-header h1 {
    color: var(--neutral-100);
}

.category-container {
    width: 100vw;
    height: auto;
    text-align: center;
    margin-bottom: 16px;
}

.category-image {
    width: 100vw;
}

.category-name {
    font-weight: 500;
    margin-top: 24px;
}

.category-misc {
    height: 70px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.select-component {
    padding: 8px 16px;
    background-color: var(--neutral-900);
    color: var(--neutral-200);
    border-radius: 1px;
    font-size: var(--small);
    font-weight: 100;
    letter-spacing: 1px;
    border: 1px solid var(--neutral-800);
}

.select-component:focus {
    outline: none;
}

.squiggle-holder {
    display: block;
    left: 50%;
    transform: translateX(-55%);
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 50px;
}

.ellipse {
    position: absolute;
    background: radial-gradient(
        ellipse,
        transparent,
        transparent 7px,
        var(--primary-300) 7px,
        var(--primary-300) 10px,
        transparent 11px
    );
    background-size: 36px 40px;
    width: 150px;
    height: 20px;
}

.ellipse2 {
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
}

/* Navbar */
.fujifox-home:hover {
    color: var(--secondary-500);
}

.delivery-promo {
    background-color: var(--neutral-100);
    color: var(--neutral-900);
    text-align: center;
    font-size: 0.8em;
    font-weight: 200;
    max-height: 25px;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000000;
    overflow: hidden;
}

.shopping-basket {
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 2;
    background: none;
    color: var(--primary-800);
    border: none;
    margin-top: -5px;
    padding: 0 20px;
}

.nav-container {
    background-color: var(--secondary-100);
    width: 100%;
    height: 80px;
}

.fujifox-home {
    font-family: fantasy;
    font-size: 1.2em;
    color: var(--secondary-400);
}

.curve {
    position: absolute;
    background-color: var(--secondary-100);
    z-index: 100;
    width: 100%;
    height: 120px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

/* Misc */
.basket-icon:hover {
    transform: scale(1.3);
    color: var(--primary-700);
}

/* Item Slider */
.product-box {
    position: relative;
    height: 280px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 32px;
}

.shopfront {
    background: var(--secondary-100);
}

.shop-header {
    opacity: 0.9;
}

.separator {
    width: 100%;
    text-align: center;
    border-bottom: 2px dashed var(--neutral-100);
    opacity: 0.7;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.nested-separator {
    background: var(--secondary-100);
    padding: 0 10px;
    font-weight: 700;
}

.slider-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1em;
}

.product-box a {
    text-decoration: inherit;
    color: var(--primary-900);
    font-weight: 200;
}

.product-box a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-300);
}

.product-box p {
    font-weight: 500;
}

.product-image {
    height: 150px;
    width: 100%;
}

.shop-item-image {
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* height: 300px; */
}

.horizontal-slider {
    width: 90%;
    margin: 0 auto;
}

.horizontal-slider-item {
    margin-left: 20px;
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none;
}

.btn-basket {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 20px 20px;
    height: 40px;
    width: 100%;
    background-color: var(--primary-400);
    color: var(--neutral-900);
    transition: 200ms ease-in-out;
    text-transform: uppercase;
    box-shadow: 0 10px 20px hsl(0 0% 0% / 20%);
    border: none;
}

.btn-basket:hover {
    opacity: 1;
    transition: 200ms ease-in-out;
    transform: scale(1.1);
}

.btn-basket:active {
    background: var(--primary-300);
    transform: scale(0.9);
}

.btn-basket:disabled {
    background: var(--primary-100);
    color: var(--neutral-500);
    cursor: not-allowed;
}

.btn-basket:disabled:hover {
    transform: scale(1);
    cursor: not-allowed;
    opacity: 0.4;
}

/* Shop Item */
.category-display {
    font-weight: 100;
    font-size: 0.7em;
    text-align: center;
}

.basket-add {
    margin: 0;
    width: 100%;
    padding: 5px;
}

.stock-display {
    text-align: center;
}

.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.product-overlay {
    background: var(--neutral-100);
    transition: all 0.3s ease-out;
    transform: translateY(100%);
    position: absolute;
    line-height: 1.8;
    text-align: center;
    font-size: 105%;
    cursor: no-drop;
    color: var(--neutral-900);
    width: 100%;
    left: 0;
    bottom: 0;
}

.product-image:hover .product-overlay {
    transform: translateX(0);
}

/* ITEM INFO */
.item-info-wrapper {
    padding-top: 80px;
    height: 100vh;
    background: var(--secondary-100);
}

.product-info-container {
    width: 95%;
}

.product-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-wrapper {
    width: 100%;
}

.hero-product-image {
    width: 100%;
}

.product-page h2 {
    margin-top: 20px;
}

.btn-basket-info {
    width: 100%;
    border-radius: 0 0 20px 20px;
    height: 40px;
    background-color: var(--primary-400);
    color: var(--neutral-900);
    transition: 200ms ease-in-out;
    text-transform: uppercase;
    box-shadow: 0 10px 20px hsl(0 0% 0% / 20%);
    border: none;
}

.btn-basket-info:hover {
    opacity: 1;
    transition: 200ms ease-in-out;
    transform: scale(1.1);
}

.btn-basket-info:active {
    background: var(--primary-300);
    transform: scale(0.9);
}

.btn-basket-info:disabled {
    background: var(--primary-100);
    color: var(--primary-900);
    cursor: not-allowed;
}

.btn-basket-info:disabled:hover {
    transform: scale(1);
    cursor: not-allowed;
    opacity: 0.4;
}

.product-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.quantity-box {
    display: flex;
    max-width: fit-content;
    justify-content: center;
    border: var(--neutral-300) 2px solid;
    border-radius: 0.1rem;
    margin-bottom: 10px;
}
.quantity-box input {
    outline: none;
    border: none;
    text-align: center;
    max-width: 50px;
}
.quantity-box input::-webkit-outer-spin-button,
.quantity-box input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.quantity-box button {
    user-select: none;
    font-size: large;
    font-weight: 500;
    background: var(--neutral-900);
    cursor: pointer;
    border: 0;
    padding: 0.825rem 1.4rem;
    transition: background 100ms;
}
.quantity-box button:hover {
    background: var(--neutral-800);
}

/* Table */
table {
    width: 90%;
    margin: 0 auto;
}

th {
    border-bottom: 1px solid var(--neutral-100) !important;
    text-align: right !important;
}

td {
    padding: var(--small) 0 !important;
    border-bottom: 1px solid rgb(205, 205, 205) !important;
    text-align: right !important;
}

.thumbnail {
    width: 20px !important;
}

.toggle-category {
    display: none;
}

/* Newsletter */
.newsletter-container {
    position: relative;
    width: 100vw;
    height: 600px;
    background-image: url("https://i.etsystatic.com/isbl/ee04b8/46759767/isbl_3360x840.46759767_l0k6nkqd.jpg?version=1");
    background-size: cover;
    background-position: center;
}

.custom-shape-divider-top-1650720074 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1650720074 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}

.custom-shape-divider-top-1650720074 .shape-fill {
    fill: var(--secondary-100);
}

.custom-shape-divider-bottom-1650720653 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650720653 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}

.custom-shape-divider-bottom-1650720653 .shape-fill {
    fill: var(--neutral-100);
}

.newsletter-signup-1,
.newsletter-signup-2 {
    width: 20%;
    height: 300px;
    text-align: center;
}

.newsletter-signup-2 {
    background: var(--primary-400);
    color: var(--primary-800);
    border-radius: 0 20px 20px 0;
}

.newsletter-signup-2 h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.newsletter-signup-2 h4 {
    font-size: 1rem;
    font-weight: 600;
}

.newsletter-signup-2 p {
    font-size: 1rem;
    font-weight: 400;
}

.sign-up-btn {
    background: var(--neutral-100);
    color: var(--neutral-900);
    border: none;
    padding: 8px 16px;
    font-weight: 600;
    width: 300px;
    transition: all 250ms ease-in-out;
}

.newsletter-input {
    width: 300px;
    border: none;
    padding: 8px 16px;
}

.newsletter-content {
    height: 100%;
}

.sign-up-btn:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.newsletter-signup-1 {
    background: url("https://i.etsystatic.com/22179317/r/il/2a8ad1/2961017620/il_794xN.2961017620_n4w4.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
}

.background-tint {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.newsletter-image {
    /* width: 100%; */
    border-radius: 20px 0 0 20px;
    height: 100%;
    background-size: cover;
}

@media only screen and (max-width: 1750px) {
    .newsletter-signup-1 {
        display: none;
    }
    .newsletter-signup-2 {
        border-radius: 20px;
        width: 400px;
    }
}

/* Product Page */
.product-page h2 {
    font-weight: 600;
}

.product-page h4 {
    font-weight: 200;
    color: var(--neutral-100);
}

.product-page span {
    color: var(--neutral-100);
}

/* Socials */
.socials {
    background: var(--neutral-100);
    width: 100%;
    margin: 0 auto;
    height: 150px;
    font-weight: 600;
    color: var(--primary-400);
    margin-bottom: 42px;
}

.socials-container {
    width: 75%;
}

.socials-header {
    padding-top: 24px;
}

.socials-icon {
    font-size: 60px;
    color: var(--primary-400);
    opacity: 0.8;
    transition: all 250ms ease-in-out;
}

.socials-icon:hover {
    opacity: 0.9;
    color: var(--primary-100);
    transform: scale(1.2);
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--primary-300);
    font-size: 0.8em;
    font-weight: 200;
    padding: 10px;
}

/* Loader */
.loader {
    border: 2px solid var(--secondary-500);
    border-top: 2px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 750ms ease-in-out infinite;
}

.payments {
    font-size: 20px;
    opacity: 0.5;
    padding-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add Product Form */
.add-product-container {
    width: 75%;
    margin: 0 auto;
    border-radius: 4%;
    box-shadow: 0 10px 20px hsl(0 0% 0% / 20%);
    background: var(--secondary-100);
    position: relative;
}

.add-form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-form {
    width: 75%;
}

.add-product-header {
    padding-top: var(--medium);
    padding-bottom: var(--medium);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--large);
    opacity: 0.7;
}

.add-input-field,
.custom-select {
    margin: 0 auto;
    width: 100%;
    border: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: var(--x-small);
    padding: var(--x-small);
    border-radius: 10px;
}

.add-input-field:focus,
.custom-select:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
}

/* Edit Product Form */
.inline-edit-container {
    width: 100%;
}

/* Alert */
.alert-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px;
    transition: height 0.35s ease-in-out;
    overflow: hidden;
    height: 100px;
}

.alert-hidden {
    height: 0 !important;
}

.alert-container {
    max-width: 500px;
    display: inline-block;
    color: var(--neutral-100);
    font-weight: 200;
    font-size: var(--medium);
    cursor: pointer;
    color: var(--primary-positive-800);
    position: relative;
}

.alert-box {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--medium) var(--x-large);
    background: var(--primary-positive-500);
    border-radius: 10px;
}

.alert-content {
    margin-left: 20px;
}

.info-circle-container {
    position: absolute;
    left: 0;
    padding: 0 var(--x-small) 0 var(--medium);
    height: 100px;
    border-radius: 10px 0 0 10px;
    background: var(--primary-positive-700);
}

.info-circle {
    position: absolute;
    left: 5px;
}

/* Admin Dashboard */
.admin-dashboard-container {
    width: 100%;
}

.admin-container {
    width: 75%;
    background: var(--secondary-100);
    border-radius: 10px;
    box-shadow: 0 10px 20px hsl(0 0% 0% / 20%);
    margin: 0 auto;
}

.admin-dashboard-header {
    padding-top: 10px;
    padding-top: var(--medium);
    padding-bottom: var(--medium);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--large);
    opacity: 0.7;
}

/* Modal */
.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 10%;
    background: var(--neutral-500);
    border: none;
    padding: 6px 12px;
}

.close-modal i {
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: var(--neutral-900);
}

.edit-product-image {
    display: none;
}

/* Cart */
.cart-wrapper {
}

.basket-product-information {
}

.pay-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--neutral-900);
    size: 2em;
}

.pay-btn:hover {
    color: var(--neutral-900);
}

.pay-btn-container {
    width: 100%;
    background: var(--primary-300);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--neutral-900);
    text-transform: uppercase;
    border: 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.pay-btn-container:hover {
    background-color: var(--primary-200);
}

/* Checkout */
.order-summary {
    width: 40%;
}

.checkout-container {
    height: 100vh;
}

/* Login */
.login-container {
    padding-top: 100px;
}
.login-container > div {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 10px 20px hsl(0 0% 0% / 20%);
    border-radius: 10px;
}

.login-container div h1 {
    text-align: center;
    color: var(--primary-700);
    font-weight: 300;
}

.login-box {
    padding: 6px 12px;
    margin: 6px 12px;
    border: 1px solid var(--neutral-900);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    color: var(--primary-700);
    margin-top: 32px;
}

.google-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

/* Admin */
.nav-container {
    width: 50vw;
    font-size: 2rem;
}

.nav-wrapper {
    background-color: var(--secondary-100);
    width: 100vw;
    padding-top: 50px;
    height: 100vh;
    overflow: hidden;
    transition: height 0.35s ease-in-out;
}

.navigation {
    position: fixed;
    z-index: 1;
}

.hidden {
    height: 0;
}

@keyframes slide {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
        overflow: hidden;
    }
}

.navbar {
    width: 100vw;
    transition: all 200ms ease-in;
}

.fujifox {
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 45px;
    text-align: center;
}

.dropdown {
    z-index: 10000;
    background-color: var(--primary-100);
    color: var(--neutral-900);
}

.basket-icon {
    font-size: 3rem;
    transition: 250ms ease-out;
}

.nav-toggle {
    position: absolute;
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
    border: 0;
    z-index: 100;
}

.navbar-nav {
    padding-top: 30px;
}

/* HAMBURGER */
.hamburger {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
}

.hamburger span {
    background: var(--primary-800);
    border-radius: 10px;
    height: 7px;
    margin: 7px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger-1 {
    width: 50%;
}

.hamburger-2 {
    width: 100%;
}

.hamburger-3 {
    width: 75%;
}

.hamburger-input {
    display: none;
}

.hamburger-input:checked ~ .hamburger-1 {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px);
}

.hamburger-input:checked ~ .hamburger-2 {
    transform-origin: top;
    transform: rotatez(-45deg);
}

.hamburger-input:checked ~ .hamburger-3 {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg);
}

.hamburger-wrapper {
    position: absolute;
    z-index: 20000;
    top: 35px;
    left: 20px;
}

/* MEDIA */
@media only screen and (min-width: 990px) {
    body::before {
        display: block;
        content: "";
        height: 90px; /* or whatever */
    }

    .shopfront {
        margin: 0 auto;
        background: var(--secondary-100);
        padding-bottom: 30px;
    }

    .carousel {
        cursor: grab;
        display: block;
    }

    .nested-separator {
        background: var(--secondary-100);
    }

    .navbar {
        height: 140px;
        padding: 10px;
        margin-top: 20px;
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        transition: all 200ms ease-in;
    }

    .nav-item * {
        color: var(--neutral-100) !important;
    }

    li a:hover {
        color: var(--primary-600) !important;
    }

    .dropdown {
        z-index: 1000;
        margin-left: 0px;
        position: absolute !important;
        max-width: 100% !important;
        padding-left: 0;
        border-radius: 0 0 5% 5%;
        background-color: var(--secondary-100);
    }

    .hamburger-wrapper {
        display: none;
    }

    .nav-container {
        font-size: 1.5rem;
    }

    .navbar-nav {
        margin: 0 auto;
        padding: 0;
    }

    .nav-wrapper {
        width: 100%;
        display: flex;
        padding-top: 0;
        height: 50px;
        display: flex !important;
        overflow: visible;
    }

    .fujifox {
        display: none;
    }

    /* Category display */
    .category-wrapper {
        background: var(--secondary-100);
        display: flex;
        grid-template-columns: auto auto auto;
        gap: 50px;
        justify-content: space-between;
        padding-top: 40px;
    }

    .category-container {
        margin-bottom: 0;
        height: 500px;
        max-width: 30vw;
        text-align: center;
        position: relative;
    }

    .category-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .category-name-container {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category-name {
        font-weight: 500;
        font-size: 5rem;
        color: var(--secondary-100);
        margin: 0;
    }

    .curve {
        height: 120px;
    }

    .socials-container {
        width: 25%;
    }

    .socials-header {
        padding-top: 0;
    }

    .squiggle-holder {
        display: none;
    }

    .product-box {
        height: 420px;
        width: 300px;
    }

    .slider-container {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .product-image {
        height: 300px;
        width: 100%;
    }

    .delivery-promo {
        position: fixed;
        top: 0;
        z-index: 10000;
    }

    .navigation {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    /* ITEM INFO */
    .product-page-wrapper {
        display: flex;
        flex-direction: column;
    }

    .product-page {
        font-weight: 200;
    }

    .product-description {
        order: 1;
        text-align: center;
        margin-bottom: 0;
        font-style: italic;
        font-weight: 200;
    }

    .product-basket {
        order: 2;
    }

    .product-info-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        height: auto;
    }

    .category-page-wrapper {
        position: relative;
        padding-top: 20px;
        background: var(--secondary-100);
    }

    .toggle-category {
        display: table-cell;
    }

    .edit-product-image {
        display: block;
        height: 75%;
        width: 30%;
        display: flex;
        justify-content: center;
        margin-right: 16px;
    }

    .edit-product-image img {
        width: 100%;
        object-fit: cover;
    }

    .add-form {
        width: 95%;
    }

    .horizontal-slider {
        width: 75%;
    }

    .horizontal-slider-item {
        margin-right: 50px;
    }

    .category-image-header {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 100%;
    }

    .category-image-header-stickers {
        background-image: url("assets/images/coyoteSticker.webp");
    }
    .category-image-header-bags {
        background-image: url("assets/images/siameseBadge.webp");
    }
    .category-image-header-patches {
        background-image: url("assets/images/nofacePatch.webp");
    }
    .category-image-header-clothes {
        background-image: url("assets/images/coyoteSticker.webp");
    }
    .category-image-header-pins {
        background-image: url("assets/images/siameseBadge.webp");
    }

    .category-header {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-55%);
    }

    .category-header h1 {
        font-size: var(--x-large);
        color: var(--neutral-900);
        font-weight: 100;
    }

    .category-tint {
        width: 100%;
        height: 100px;
        background-color: var(--primary-400);
        position: absolute;
        top: 140px;
    }

    .item-info-wrapper {
        padding-top: 20px;
        height: 100vh;
        background: var(--primary-100);
    }
}
