* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --purple: #937ac7;
  --purple-dark: #978ab3;
  --pink: rgb(250, 238, 251);
  --pink-hot: #ffa3e3;
  --white: rgb(243, 243, 243);
  --black: rgb(44, 44, 44);
}

/* Carousel */
.carousel {
  cursor: grab;
}

.carousel-item {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

/* Navbar */
.fujifox-home:hover {
  color: var(--pink-hot);
}

.delivery-promo {
  background-color: var(--purple-dark);
  color: var(--black);
  text-align: center;
  font-size: 0.8em;
  font-weight: 200;
}

.shopping-basket {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 2;
  background: none;
  color: var(--purple-dark);
  border: none;
  margin-top: -5px;
  padding: 0 20px;
}

.nav-container {
  background-color: var(--purple);
  width: 100%;
  height: 80px;
}

.fujifox-home {
  font-family: fantasy;
  font-size: 1.2em;
  color: var(--purple);
}

.curve {
  position: absolute;
  background-color: var(--purple);
  z-index: 100;
  width: 100%;
  height: 150px;
  clip-path: ellipse(100% 100% at 50% 0%);
}

/* Misc */
.basket {
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 20px;
}

.basket-icon:hover {
  transform: scale(1.3);
  color: var(--white);
}

/* Item Slider */
.product-box {
  position: relative;
  height: 420px;
  width: 300px;
  border-radius: 20px;
}

.shop-header {
  opacity: 0.9;
}

.separator {
  width: 100%;
  text-align: center;
  border-bottom: 2px dashed var(--black);
  opacity: 0.7;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.nested-separator {
  background: var(--white);
  padding: 0 10px;
  font-weight: 600;
}

.slider-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.product-box a {
  text-decoration: inherit;
  color: var(--purple-dark);
  font-weight: 200;
}

.product-box a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--pink-hot);
}

.product-box p {
  font-weight: 500;
}
.shop-item-image {
  border-radius: 20px 20px 0 0;
  max-width: 300px;
  height: 300px;
}

.btn-basket {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  height: 40px;
  width: 100%;
  background-color: var(--purple);
  color: var(--black);
  transition: 200ms ease-in-out;
  text-transform: uppercase;
  box-shadow: 0 10px 20px hsl(0 0% 0% / 20%);
}

.btn-basket:hover {
  opacity: 1;
  transition: 200ms ease-in-out;
  transform: scale(1.1);
}

.btn-basket:active {
  background: var(--pink);
  transform: scale(0.9);
}

.btn-basket:disabled {
  background: var(--purple-dark);
  opacity: 0.4;
  cursor: not-allowed;
}

.btn-basket:disabled:hover {
  transform: scale(1);
  cursor: not-allowed;
  opacity: 0.4;
}

/* Shop Item */
.category-display {
  font-weight: 100;
  font-size: 0.7em;
  text-align: center;
}

.basket-add {
  margin: 0;
  width: 100%;
  padding: 5px;
}

.stock-display {
  text-align: center;
}

.product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.product-overlay {
  background: var(--black);
  transition: all 0.3s ease-out;
  transform: translateY(100%);
  position: absolute;
  line-height: 1.8;
  text-align: center;
  font-size: 105%;
  cursor: no-drop;
  color: var(--white);
  width: 100%;
  left: 0;
  bottom: 0;
}

.product-image:hover .product-overlay {
  transform: translateX(0);
}

/* Newsletter */
.newsletter-container {
  position: relative;
  width: 100vw;
  height: 600px;
  background-image: url("https://i.etsystatic.com/isbl/ee04b8/46759767/isbl_3360x840.46759767_l0k6nkqd.jpg?version=1");
  background-size: cover;
  background-position: center;
}

.custom-shape-divider-top-1650720074 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1650720074 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 53px;
}

.custom-shape-divider-top-1650720074 .shape-fill {
  fill: var(--white);
}

.custom-shape-divider-bottom-1650720653 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1650720653 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 53px;
}

.custom-shape-divider-bottom-1650720653 .shape-fill {
  fill: var(--white);
}

.newsletter-signup-1,
.newsletter-signup-2 {
  width: 20%;
  height: 300px;
  text-align: center;
}

.newsletter-signup-2 {
  background: var(--pink-hot);
  color: var(--black);
  border-radius: 0 20px 20px 0;
}

.newsletter-signup-2 h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.newsletter-signup-2 h4 {
  font-size: 1rem;
  font-weight: 600;
}

.newsletter-signup-2 p {
  font-size: 1rem;
  font-weight: 400;
}

.sign-up-btn {
  background: var(--black);
  color: var(--white);
  border: none;
  padding: 8px 16px;
  font-weight: 600;
  width: 300px;
}

.newsletter-input {
  width: 300px;
  border: none;
  padding: 8px 16px;
}

.newsletter-content {
  height: 100%;
}

.sign-up-btn:hover {
  opacity: 0.5;
}

.newsletter-signup-1 {
  background: url("https://i.etsystatic.com/22179317/r/il/2a8ad1/2961017620/il_794xN.2961017620_n4w4.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0 0 20px;
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.newsletter-image {
  /* width: 100%; */
  border-radius: 20px 0 0 20px;
  height: 100%;
  background-size: cover;
}

.newsletter-submit {
  border: none;
  background: var(--pink-hot);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 200;
}

.newsletter-submit:hover {
  background: var(--purple-dark);
  transition: all 250ms ease-in-out;
  color: var(--white);
}

@media only screen and (max-width: 1750px) {
  .newsletter-signup-1 {
    display: none;
  }
  .newsletter-signup-2 {
    border-radius: 20px;
    width: 370px;
  }
}

/* Product Page */
.product-page h2 {
  font-weight: 600;
}

.product-page h4 {
  font-weight: 200;
  color: var(--black);
}

.product-page span {
  color: var(--black);
}

/* Socials */
.socials {
  background: var(--white);
  width: 100%;
  margin: 0 auto;
  height: 300px;
  font-weight: 200;
}

.socials-icon {
  font-size: 60px;
  color: var(--black);
  opacity: 0.4;
}

/* Footer */
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: var(--purple-dark);
  font-size: 0.8em;
  font-weight: 200;
  padding: 10px;
}

/* Loader */
.loader {
  border: 2px solid var(--pink-hot);
  border-top: 2px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 750ms ease-in-out infinite;
}

.payments {
  font-size: 20px;
  opacity: 0.5;
  padding-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */
.pay-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  size: 2em;
}

.pay-btn:hover {
  color: var(--white);
}

.pay-btn-container {
  width: 100%;
  background: var(--purple);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--white);
}

.pay-btn-container:hover {
  background-color: var(--pink-hot);
}

/* Checkout */
.order-summary {
  width: 40%;
}

.checkout-container {
  height: 100vh;
}

/* Admin */
.add-product-container {
  background: var(--pink);
  margin-bottom: 20px;
}

.nav-container {
  width: 50vw;
  font-size: 2rem;
}

.nav-wrapper {
  background-color: var(--purple);
  width: 100vw;
  padding-top: 50px;
  height: 100vh;
  overflow: hidden;
  transition: height 0.35s ease-in-out;
}

.hidden {
  height: 0;
}

@keyframes slide {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
    overflow: hidden;
  }
}

.navbar {
  width: 100vw;
  transition: all 200ms ease-in;
}

.fujifox {
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15px;
  text-align: center;
}

.dropdown {
  z-index: 10000;
  background-color: var(--purple-dark);
  color: var(--white);
}

.basket-icon {
  font-size: 3rem;
  transition: 250ms ease-out;
}

.nav-toggle {
  position: absolute;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  border: 0;
  z-index: 100;
}

.navbar-nav {
  padding-top: 30px;
}

/* HAMBURGER */
.hamburger {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

.hamburger span {
  background: var(--purple-dark);
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger-1 {
  width: 50%;
}

.hamburger-2 {
  width: 100%;
}

.hamburger-3 {
  width: 75%;
}

.hamburger-input {
  display: none;
}

.hamburger-input:checked ~ .hamburger-1 {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

.hamburger-input:checked ~ .hamburger-2 {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.hamburger-input:checked ~ .hamburger-3 {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}

.hamburger-wrapper {
  position: absolute;
  z-index: 20000;
  top: 35px;
  left: 20px;
}

/* MEDIA */
@media only screen and (min-width: 990px) {
  .shopfront {
    margin: 0 auto;
    background: var(--white);
    padding-bottom: 30px;
  }

  .naavbar {
    margin: 0 auto;
  }

  .nested-separator {
    background: var(--white);
  }

  .navbar {
    height: 120px;
    padding: 10px;
    margin-top: 20px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transition: all 200ms ease-in;
  }

  .nav-item * {
    color: var(--black) !important;
  }

  li a:hover {
    color: var(--white) !important;
  }

  .shopping-basket {
    position: absolute;
    top: 20px;
    right: 0px;
  }

  .dropdown {
    z-index: 1000;
    margin-left: 0px;
    position: absolute !important;
    max-width: 100% !important;
    padding-left: 0;
    border-radius: 0 0 5% 5%;
    background-color: var(--purple);
  }

  .hamburger-wrapper {
    display: none;
  }

  .nav-container {
    height: 100px;
    width: 50vw;
    font-size: 1.5rem;
  }

  .navbar-nav {
    margin: 0 auto;
    padding: 0;
  }

  .nav-wrapper {
    width: 100%;
    display: flex;
    padding-top: 0;
    height: 50px;
    display: flex !important;
    overflow: visible;
  }

  .fujifox {
    display: none;
  }
}
